.splash-container {
    height: 500px;
}
.content-wrapper {
    top: 500px;
}

/* We want to give the content area some more padding */
.content {
    margin-top: 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    margin: 2em 0 1em;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}


.photo-box img {
    max-width: 100%;
    height: auto;
    min-height: 250px;
}

.photo-box aside {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 0.5em;
    color: white;
    width: 100%;
    font-size: 80%;
    font-weight: bold;
    text-align: right;
    /* FF3.6+ */
    background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%);
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
    /* IE10+ */
    background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
    /* W3C */
    background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%);
}

.photo-box aside span {
    color: #fff;
}

.photo-box aside span a {
    color: #fff;
    text-decoration: none;
}

.text-box {
    background: #ccc;
    color: #000;
}

.text-box-head {
    color: #576474;
    margin: 2em 0 1em;
    padding-top: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 24px;
}

.text-box-subhead {
    color: #000;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

